<div
  x-cloak
  x-transition
  x-show="$store.global.isMobileMenuVisible"
  class="w-full max-w-screen-md h-full md:hidden bg-white border-l top-0 right-0 {{ class | default: '' }}"
  :class="$store.global.isMobileMenuVisible ? 'fixed' : '' "
  style="{{ style | default: '' }}"
>
  <div class="border-b p-4">
    <button
      @click="$store.global.closeMobileMenu()"
      class="flex justify-center items-center"
    >
      {% render 'icon-cancel', class: 'w-6 h-auto mr-1' %}

      <div>
        {{ 'action.close' | t }}
      </div>
    </button>
  </div>

  <div class="p-4">
    {% render 'layout-menu', class: 'flex flex-col items-start gap-4' %}
  </div>
</div>
